.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHeader {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  color: #1f295a;

  /* color: ${p=> p.theme.header}; */
}

.icon {
  position: absolute; 
  right: 0; 
  top:50%;
  transform:translateY(-50%) scaleX(-1);
}

.backButton {
  position: absolute;
  top:27px;
  left:27px;
}


.label{

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #9D9D9D;
  text-align: left;
  margin-left: 30px;
}

.textInput {
  width: 421px;
  height: 40px;
  left: 509px;
  top: 304px;

  
  /* background: ${ p => p.lock ? `url(${lock}) no-repeat, #FFFFFF` : p.theme.background }  ; */

  background: #FFFFFF;
  background-position: right;
  /* background-position-x: 50px; */
  
  /* padding-left:30px; */


  border: 1px solid #C6C6C6; 
  box-sizing: border-box;
  border-radius: 10px;
}